.show_clip_button{
    color: #767676;
    margin-top: 18px;
    margin-left : 5px;
    background-color:transparent;
    font-size: 13px;
    cursor: pointer;
    transform: scaleX(-1);
    margin-top : 10px !important;
  }
  .show_clip_button:hover {
    color: #434343;
  }
  .recommand_box{
    /* white-space: pre-line; */
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    flex-direction: column;
  }
  .recommand_message{
    display:flex;
    flex-wrap : wrap
  }
  .recommand_title{
    padding-bottom: 20px;
  }
  .recommand_item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .recommand_item >p{
    margin: 0px 0px;
    padding:0px 0px;
    margin-right:5px;
    display: block;
    text-align: start;
  }
  .recommend_info_box{
    display: flex;
    margin-left : 4px;
    margin-top : 4px;
    margin-bottom: 8px;
    flex-wrap: wrap;
    max-width: 290px;
  }
  .recommend_info{
    display: flex;
    flex-direction: row;
    margin-top : 2px;
  }
  .recommend_rank{
    margin-left: 4px !important;
    font-weight: bold;
    font-size: 15px !important;
  }
  .recommend_info >p{
    margin: 0px 0px;
    padding:0px 0px;
    display: block;
    text-align: start;
  }
  .recommend_last_info{
    margin-right: 10px !important;
    white-space: nowrap;
  }
  .recommend_first_info{
    font-weight: bold;
    white-space: nowrap;
  }
  .recommand_btn{
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #939393;
    border-radius: 6px;
    padding: 5px 7px;
    font-size: 14px;
    text-align: start;
    max-width: 300px;
    white-space: normal;
  }
  .recommand_btn:hover{
    color: #ffffff;
    background-color: #343D66;
  }

  .recommend_buttons {
    margin-top: 4px;
    margin-right: 4px;
    white-space: nowrap;
  }
  

  .item_image {
    width: 220px;
    height: 150px;
  } 
  
  .item_image img {
    margin-left: 40px;
    margin-top: 10px;
    width: 170px;
    height: 150px;
    object-fit: cover;
    display: block;
  }


  .recommend_contents {
    display: flex;
    flex-direction: row;
    align-items: center;
  }