* {
    box-sizing: border-box;
}

header{
    padding: 15px;
}

header h1 {
    text-align: center;
    font-size: 2.3em;
    font-family: "heavy";
    letter-spacing: 0.05em;
}

.summaryBook_div {
    margin-left: 22px;
    margin-right: 32px;
}

.product_info, .total_review_summarization, .review_property_summarization {
    margin-left: 20px;
    margin-bottom: 95px;
}

.summary_division_line {
    border-top: 2px solid #d7d7d7;
    width: 96%;
    margin-bottom: 23px;
}


.summary_h2 {
    font-size: 22px;
    margin-bottom: 14px;
}

.info_div {
    display: flex;
    justify-content:space-around;
    margin-left: 0px;
    margin-right: 20px;
    white-space: nowrap;
}

.info_box {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    padding: 15px 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-right: 20px;
}

.infos_div {
    display: flex;
}

.plus_info {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.plus_info button {
    background-color: inherit;
    color: #626262;
    padding: 3px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.plus_info button:hover {
    color: #212121;
    background-color: #f0f0f0;
    border-radius: 30px;
}

.arrow_down {
    padding-top: 5px;
}


.info1 {
    white-space: nowrap;
}
.info2 {
    margin-left: 40px;
    white-space: nowrap;
}

.info1 p {
    margin: 8px 0px;
    color: #434343;
    font-size: 14px;
}
.info2 p {
    margin: 8px 0px;
    color: #434343;
    font-size: 14px;
}

.review_source {
    align-items:flex-end;
    font-size: 6px;
    color: #939393;
    text-align:right;
    width: 96%;
    margin: 0px 0px;
}

.product_img {
    display: block;
    width: 250px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #d7d7d7;
    border-radius: 4px;
}

.product_info h2 {
    letter-spacing: 0.05em;
}
.total_review_summarization h2 {
    letter-spacing: 0.05em;
}
.review_property_summarization h2 {
    letter-spacing: 0.05em;
}

.review_positive_summary, .review_negative_summary {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 16px;
}

.user_review {
    display: flex;
}

.user_positive, .user_negative {
    border-radius: 70%;
    width: 35px !important;
    height: 35px !important;
    min-width: 35px;
    min-height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_positive {
    background-color: #6BA694;
}
.user_negative {
    background-color: #E3465F;
}

.faUser {
    display: block;
    object-fit: cover;   
    text-align: center;
}

.sentiment_box {
    background-color: #f7f7f7;
    padding: 1px 12px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 28px;
    margin-left: 30px;
    max-width: 660px;
    position: relative;
}
.sentiment_box:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -28px;
    border: 1em solid transparent; /** border를 모두 투명하게 설정 **/
    border-right: 18px solid #f7f7f7; /** 오른쪽 border만 남김 **/
    z-index: 0;
}

.sentiment_box p {
    line-height: 1.5;
    margin: 10px 0px;
    letter-spacing: 0.03em;
    color: #404040;
    font-size: 14px;
}

.property_name {
    display: flex;
    align-items: center;
    margin-bottom: 20px !important;
}

.property_name h3 {
    font-size: 20px;
    font-weight:800 !important;
    margin: 0px 0px;
}
.property_division_line {
    border-top: 2px solid #d7d7d7;
    width: 85%;
    margin-left: 20px;
}


ul {
    padding-left: 25px;
    padding-right: 25px;
}
li {
    list-style-type: none;
}

.positive_p {
    margin-top: 0px;
    margin-bottom: 20px;
}
.negative_p {
    margin-top: 0px;
    margin-bottom: 20px;
}
.scroll_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 89%;
    padding-bottom: 20px;

}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.product_info_nonDefine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
    font-size: 13px;
    margin-top: 100px;
}
.product_info_nonDefine_icon{
    display: flex;
    align-items: center;
}
.review_property_summarization > div > ul > li > div {
    margin-top: -10px;
    margin-bottom: -10px;;
}


.property_list > ul > li {
    margin-bottom: 30px;
}
.not_infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}