* {
    box-sizing: border-box;
}

header{
    padding: 15px;
}

header h1 {
    text-align: center;
    font-size: 2.3em;
}

.summaryBook_div {
    margin-right: 20px;
}

.product_info, .total_review_summarization, .review_property_summarization {
    margin-left: 20px;
    margin-bottom: 50px;
}

.total_review_summarization h2 {
    margin-bottom: 0px;
}

.info_div {
    display: flex;
    justify-content:space-around;
    margin-left: 0px;
    margin-right: 20px;
    white-space: nowrap;
}

.info1 {
    margin-left: 10px;
    white-space: nowrap;
}
.info2 {
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
}

.info1 p {
    margin: 8px 0px;
    color: #434343;
}
.info2 p {
    margin: 8px 0px;
    color: #434343;
}

.product_img {
    display: block;
    width: 250px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #d1d1d1;
}

.review_positive_summary, .review_negative_summary {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

strong {
    font-size: 17px;
}

.review_property_summarization h2 {
    margin-bottom: 30px;
}

ul {
    padding-left: 25px;
    padding-right: 25px;
}
li {
    list-style-type: none;
}

.scroll_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 89%;
    padding-bottom: 20px;

}

.property_list p {
    margin-bottom: 0px;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
.product_info_nonDefine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
    font-size: 13px;
    margin-top: 100px;
}
.product_info_nonDefine_icon{
    display: flex;
    align-items: center;
}
.review_property_summarization > div > ul > li > div {
    margin-top: -10px;
}


