@import "../fonts.css";


.menu_title{
    width: 100%;
    letter-spacing: 0.1em;
    font-family: "heavy";
    text-align: center;
    margin-top:1em;
    margin-bottom:1em;
    color:white;
    font-size:40px;
}

.logout_div{
    display: inline-block;
    font-size:25px;
    color:white;
    margin-top:0.7em;
    margin-left:1em;
}
.logout_label{
    position:absolute;
    padding-left:0.4em;
}
.logout_label:hover{
    cursor: pointer;
}
.sub_menu{
    height:70%;
}

.menu_hr{
    margin-top:2.7em;
}