@import "../fonts.css";


.chatMenu{
    position: relative;
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap; 
    white-space: nowrap;
    height: 100vh;
}
.menu_title_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu_info_circle_box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
}
.menu_info_circle{
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 13px;
    color: rgb(255,255,255,0.8);
}
.menu_info_circle:hover{
    cursor: pointer;
}
.menu_title{
    flex-grow: 0;
    align-self: center;
    letter-spacing: 0.1em;
    font-family: "heavy";
    text-align: center;
    padding: 30px 5px 20px 5px;
    color:white;
    font-size:40px;
    margin-left: 30px
}
.submenu_title{
    display: flex;
    flex-grow: 0;
    letter-spacing: 0.1em;
    color:white;
    font-size:20px;
    margin-bottom: 15px;
    margin-left: 28px;
}
.submenu_title p {
    font-family: "heavy";
    white-space: nowrap;
    margin: 0px 0px;
}
.title_icon{
    display: block;
    width: 30px;
   
    margin-top: 2px;
    margin-right: 5px;
}
.logout_label:hover{
    cursor: pointer;
}

.sub_menu{
    height: 73%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 5px;
}
.scrollbar-thumb-y{
    background-color:#b9b9b9 !important;
}
.scrollbar-track-y{
    background-color: rgba(255,255,255,0) !important;
}
.scrollbar-thumb-x{
    background-color:#b9b9b9 !important;
}
.scrollbar-track-x{
    background-color: rgba(255,255,255,0) !important;
}

.bottom_menu{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    position:absolute;
    width:100%;
    bottom: 0px;
    left:0px;
    right:0px;
    background-color: #252B48;
    padding: 0px 13px;
    
 }

.division_line2 {
    border-top: 1px solid #ffffff;
    width: 100%;
}
.division_line1 {
    border-top: 1px solid #ffffff;
    margin: 0 13px;
    margin-bottom: 6px;
}

.under_division_line {
    height: inherit;
    padding-bottom: 32px;
    padding-top: 21px;
}

.logout_link{
    display: flex;
    align-items: center;
    width: 100%;
    color: inherit;
    text-decoration: none;
}


.logout_icon{
    margin-left: 10px;
    margin-right: 15px;
}
.logout_label{ 
    font-size:18px;
    color: #ffffff;
}
