@import "../fonts.css";


.open_menu{
    border-top:1px solid white;
    border-right:1px solid white;
    border-left:1px solid white;
    width:85%;
    padding:15px;
    border-radius: 10px 10px 0px 0px;
    color:white;
    font-size:18px;
    margin-left: 25px;
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.close_menu{
    border:1px solid white;
    width:85%;
    color:white;
    font-size:18px;
    border-radius: 10px;
    padding:15px;
    margin-bottom:30px;
    margin-left: 25px;
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
    justify-content:space-between;
}
.open_menu:hover,.close_menu:hover,.menu_item:hover,
.last_menu_item:hover,.menu_label:hover{
    cursor: pointer;
}

.menu_icon{
    margin-top: -7px;
    margin-bottom: -12px;
}
.menu_item{
    display:block;
    border-top:1px solid white;
    border-right:1px solid white;
    width: 85%;
    border-left:1px solid white;
    padding:15px;
    color:white;
    font-size:15px;
    margin-left: 25px;
    margin-right: 15px;
}
.last_menu_item{
    display:block;
    width: 85%;
    border:1px solid white;
    padding:15px;
    color:white;
    font-size:15px;
    margin-left: 25px;
    margin-right: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom:30px;
}

.trash_button{
    margin-right: 10px;
    float: right;
}
.pencil_button{
    margin-right: 12px;
    float: right;
}

.transform_input{
    font-size: 15px;
    font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";
    background-color: #0000;
    color:white;
    border: 2px solid #AAAA;
    border-radius: 5px 5px 5px 5px;
    width:70%;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text
}