@import "../fonts.css";


.open_menu{
    border-top:1px solid white;
    border-right:1px solid white;
    border-left:1px solid white;
    width:90%;
    padding:15px;
    border-radius: 5px 5px 0px 0px;
    color:white;
    font-size:20px;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
    justify-content:space-between;
    
}

.close_menu{
    border:1px solid white;
    width:90%;
    color:white;
    font-size:20px;
    border-radius: 5px;
    padding:15px;
    margin-bottom:30px;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    display: flex;
    justify-content:space-between;
}
.open_menu:hover,.close_menu:hover,.menu_item:hover,
.last_menu_item:hover,.menu_label:hover{
    cursor: pointer;
}

.menu_icon{
    margin-top: -10px;
}
.menu_item{
    display:block;
    border-top:1px solid white;
    border-right:1px solid white;
    width: 90%;
    border-left:1px solid white;
    padding:15px;
    color:white;
    font-size:20px;
    margin-left: 15px;
    margin-right: 15px;
}
.last_menu_item{
    display:block;
    width: 90%;
    border:1px solid white;
    padding:15px;
    color:white;
    font-size:20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0px 0px 5px 5px;
    margin-bottom:30px;
}
