
.chatScreen {
    position: relative;
}

.welcome_chat {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    top: 210px;
    width: 100%;
    padding: 10px 30px;
}

.icons_div {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 450px;
    
}

.productDetail_box, .summarization_box, .recommandation_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productDetail_box label {
    margin-top: 8px;
    color: #585858;
}

.summarization_box label {
    margin-top: 8px;
    color: #585858;
}

.recommandation_box label {
    margin-top: 8px;
    color: #585858;
}

.description {
    margin-top: 40px;
}

.description p {
    text-align: center;
    white-space: nowrap;
    color: #272727;
}