
.left_chat_bubble {
    display: flex;
    /* align-items: center; */
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
}
.shake_left_chat_bubble {
  display: flex;
  /* align-items: center; */
  padding: 10px 10px 10px 10px;
  margin-left: 8px;
  animation: shake 0.8s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 4px, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(0, -6px, 0);
  }
  
  40%, 60% {
    transform: translate3d(0, 6px, 0);
  }
}

.bot_icon {
    display: flex;
    width: 55px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 13px;
}

.bot_image{
    display: block;
    width: 45px;
    height: 35px;
    margin: auto auto;
}

.left_chat_box {
    position: relative;
    display:flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 0px 15px;
    border-radius: 11px;
    margin-top: 15px;
    white-space: pre-wrap;
    max-width: 700px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.left_chat_box::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    border: 1em solid transparent; /** border를 모두 투명하게 설정 **/
    border-right: 18px solid #f7f7f7; /** 오른쪽 border만 남김 **/
    z-index: 0;
}
  .detail_button{
    display:block;
  }

  .detail_button {
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #939393;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 5px 7px;
    font-size: 14px;
    text-align: start;
    max-width: 400px;
    white-space: normal;
  }


.detail_button:hover {
    color: #000000;
    background-color: #DEEDE8;
  }

.fill_star{
  stroke:gray;
  color:#FFDD00;
  stroke-width:1.2px;
  display:"flex";
  margin-top: 12px;
  margin-left: 10px;
  min-width: 15px;
}
.stroke_star{
  stroke:gray;
  color:white;
  stroke-width:1.2px;
  display:"flex";
  margin-top: 12px;
  margin-left: 10px;
  min-width: 15px;
}

.stroke_star:hover {
  stroke:gray;
  color:#FFDD00;
  stroke-width:1.2px;
  display:"flex";
  margin-top: 12px;
  margin-left: 10px;  
}
.fill_star:hover,.stroke_star:hover{
  cursor: pointer;
}

.p_and_star{
  display: flex;
  flex-direction: row;
}

.p_and_star p{
 margin-bottom: 0px;
 margin-top: 18px;
 font-size: 14px;
 line-height: 1.4;
 letter-spacing: 0.035em;
}
.text_p{
  margin-bottom: 0px;
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.035em;
}

.summary_button_div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.show_summary_button{
  border-style: none;
  margin-top: 12px;
  display: flex;
  text-align: end;
  color: #767676;
  background-color:transparent;
  cursor: pointer;
  font-size: 13px;
  padding: 3px 8px;
}

.show_summary_button:hover {
  color: #222222;
  font-weight: 530;
  background-color: #e0e0e0;
  border-radius: 30px;
}

mark{
  background-color:rgba(251, 218, 143,0.6);
  border-radius: 3px;
  font-family: 'Spoqa-bold';
  color:#292929;
}

.items_div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.detail_buttons {
  margin-top: 14px;
  white-space: nowrap;
}


.item_image {
  width: 220px;
  height: 150px;
} 
.item_image img {
  margin-left: 40px;
  margin-top: 10px;
  width: 170px;
  height: 150px;
  object-fit: cover;
  display: block;
}
.progress_bar{
  width: 150px;
  margin-top: 24PX;
}