
.left_chat_bubble {
    display: flex;
    /* align-items: center; */
    padding: 10px 10px 10px 10px;
    margin-left: 8px;
}
.shake_left_chat_bubble {
  display: flex;
  /* align-items: center; */
  padding: 10px 10px 10px 10px;
  margin-left: 8px;
  animation: shake 0.8s;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -3px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 4px, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(0, -6px, 0);
  }
  
  40%, 60% {
    transform: translate3d(0, 6px, 0);
  }
}

.bot_icon {
    display: flex;
    width: 55px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 100%;
    margin-right: 20px;
    margin-top: 13px;
}

.bot_image{
    display: block;
    width: 45px;
    height: 35px;
    margin: auto auto;
}

.left_chat_box {
    position: relative;
    display:flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0px 15px;
    border-radius: 12px;
    margin-top: 15px;
    white-space: pre-wrap;
}

.left_chat_box::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -28px;
    border: 1em solid transparent; /** border를 모두 투명하게 설정 **/
    border-right: 18px solid #f5f5f5; /** 오른쪽 border만 남김 **/
    z-index: 0;
}
  .detail_button{
    display:block;
  }

  .detail_button {
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #939393;
    border-radius: 6px;
    margin-bottom: 4px;
    padding: 5px 7px;
    font-size: 14px;
    text-align: start;
  }


.detail_button:hover {
    background-color: #DEEDE8;
  }
.DotPulse-module_container__Q1oww {
    margin-top: 25px;
}

.fill_star{
  stroke:gray;
  color:#FFDD00;
  stroke-width:1.2px;
  display:"flex";
  margin-top: 12px;
  margin-left: 10px;
}
.stroke_star{
  stroke:gray;
  color:white;
  stroke-width:1.2px;
  display:"flex";
  margin-top: 12px;
  margin-left: 10px;
}
.fill_star:hover,.stroke_star:hover{
  cursor: pointer;
}

.p_and_star{
  display: flex;
  flex-direction: row;
}

.p_and_star p{
 margin-bottom: 3px;
}

.summary_button_div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.show_summary_button{
  border-style: none;
  margin-top: 12px;
  display: flex;
  text-align: end;
  color: #767676;
  background-color:transparent;
  cursor: pointer;
}

.show_summary_button:hover {
  color: #434343;
}