.right_chat_bubble {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 10px 10px;
    margin-right: 18px;
}

.bot_icon {
    display: flex;
    width: 55px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 100%;
    margin-right: 20px;
}


.right_chat_box {
    position: relative;
    background-color: #fff1d3;
    padding: 0px 13px;
    border-radius: 12px;
    margin-top: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.right_chat_box::before {
    content: "";
    position: absolute;
    top: 0px;
    right: -28px;
    border: 1em solid transparent; /** border를 모두 투명하게 설정 **/
    border-left: 20px solid #fff1d3; /** 오른쪽 border만 남김 **/
    z-index: 0;
  }
  
  .right_chat_box p {
    margin: 9px 0px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.035em;
  }