body {
    background-color: #DEEDE8;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
aside{
    background-color:#3F675B;
    width:25%;
    height:100vh;
    float:left;
    overflow: hidden;
}
section{
    background-color:white;
    width:75%;
    height:100vh;
    float:left;
    overflow: hidden;
}