@charset "utf-8";

@font-face {
    font-family: "heavy";
    src: url("../font/VITRO CORE TTF.ttf");
}

@font-face {
    font-family: 'Spoqa Han Sans', 'sans-serif';
    src: url("../font/SpoqaHanSansNeo-Regular.ttf")
}
@font-face {
    font-family: 'Spoqa-bold';
    src: url("../font/SpoqaHanSansNeo-Bold.ttf");
}