@charset "utf-8";

@font-face {
    font-family: "heavy";
    src: url("../font/VITRO CORE TTF.ttf");
}

@font-face {
    font-family: 'Spoqa-thin';
    src: url("../font/SpoqaHanSansNeo-Thin.ttf");
}

@font-face {
    font-family: 'Spoqa-light';
    src: url("../font/SpoqaHanSansNeo-Light.ttf");
}

@font-face {
    font-family: 'Spoqa-regular';
    src: url("../font/SpoqaHanSansNeo-Regular.ttf");
}

@font-face {
    font-family: 'Spoqa-medium';
    src: url("../font/SpoqaHanSansNeo-Medium.ttf");
}

@font-face {
    font-family: 'Spoqa-bold';
    src: url("../font/SpoqaHanSansNeo-Bold.ttf");
}