@import "./fonts.css";

* {
    box-sizing: border-box;
}

body {
    background-color: #252B48;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-shadow: none;
}
.error_message{
    font-size: 1px;
    margin-top:10px;
    padding-left:10px;
    color: red; 
}
.container{
    width:100%;
    height: 100%;
    padding: 0;
}
.back_box{
    display: flex;
    margin-top: 30px;
    margin-left : 30px;
    color:white;
}
.back_button:hover{
    cursor: pointer;
    color:rgb(193, 193, 193)
}
.login_page {
    height:80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login_title { 
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login_title h1{
    font-size: 40px;
    letter-spacing: 0.05em;
    font-family: "heavy";
    text-align: center;
    color:white;
    margin: 0;
}
.login_title h1:hover{
    cursor: pointer;
}

.login_white_box{
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}
.login_comment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_comment div{
    margin-top: 30px;
    font-size: 20px;
}

.input_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.input_id {
    width: 350px;
    height: 45px;
    border : 0.5px solid gray;
    border-radius: 5px;
    padding-left: 1em;
    padding-left: 15px;
    font-size: 15px;
    margin : 0 100px 0 100px;
}
.input_pw {
    width: 350px;
    height: 45px;
    border : 0.5px solid gray;
    border-radius: 5px;
    padding-left: 1em;
    margin-top: 15px;
    padding-left: 15px;
    font-size: 15px;
}

.login_button {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 30px;
}

.login_button button {
    border-style: none;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #445069;
}

.login_button button:hover {
    background-color: #4d5a76;
    cursor: pointer;
}


.goto_signup_div {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 30px;
}

.goto_signup {
    text-decoration: none;
    font-size: 14px;
    color: #626262;
}
.goto_signup:hover{
    color:#3F675B;
}
